/* Arrow CSS by Sohan */
 input[type="number"] {
     -webkit-appearance: textfield;
     -moz-appearance: textfield;
     appearance: textfield;
}
 input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
     -webkit-appearance: none;
}
 .number-input {
     border: 1px solid #ccc;
     display: inline-flex;
}
 .number-input, .number-input * {
     box-sizing: border-box;
}
 .number-input .cms-btn {
     display: flex;
     outline:none;
     -webkit-appearance: none;
     background-color: transparent;
     border: none;
     align-items: center;
     justify-content: center;
     width: 30px;
     height: 35px;
     cursor: pointer;
     margin: 0;
     position: relative;
}
 .number-input .cms-btn:after, .number-input .cms-btn:before {
     display: inline-block;
     position: absolute;
     top: 50%;
     left: 50%;
     content: '';
     width: 11px;
     height: 2px;
     background-color: #212121;
     transform: translate(-50%,-50%);
}
 .number-input .cms-btn.plus:after {
     transform: translate(-50%, -50%) rotate(90deg);
}
 .number-input input[type=number] {
     max-width: 40px;
     padding: 5px;
     border: solid #ccc;
     border-width: 0 1px;
     font-size: 17px;
     height: 35px;
     font-weight: 700;
     text-align: center;
}
 .product-form .disclosure__toggle, .product-form input, .product-form select, .product-form textarea {
     min-height: 35px;
}
